[Unit]
Description=Auto-start Network Observer script on boot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/networkObserver/core
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=TERM=xterm
Environment=COLUMNS=80
Environment=LINES=24

ExecStartPre=/sbin/ip link set wlan1 down
ExecStartPre=/sbin/iw wlan1 set type monitor
ExecStartPre=/sbin/ip link set wlan1 up

ExecStart=/usr/bin/python3 /home/pi/networkObserver/core/main.py

Restart=no

[Install]
WantedBy=multi-user.target
