[Unit]
Description=Auto-start Network Observer script on boot
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
Type=simple
WorkingDirectory=/home/pi/networkObserver/core
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=TERM=xterm
Environment=COLUMNS=80
Environment=LINES=24
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/pi/networkObserver/core/main.py

Restart=no

[Install]
WantedBy=multi-user.target
